Repository StoLYH/nareuGo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend, build-frontend, deploy

build-backend:
  stage: build
  image: gradle:7-jdk17
  tags:
  - ec2-runner
  script:
  - echo "====== [Backend] Gradle 빌드를 시작합니다. ======"
  - cd "NareuGO_Backend"
  - chmod +x ./gradlew
  - ./gradlew clean build -x test
  - echo "====== [Backend] Docker 이미지를 빌드하고 푸시합니다. ======"
  ...

build-frontend:
  stage: build
  image: node:18
  tags:
  - ec2-runner
  script:
  - echo "====== [Frontend] Vue/React 빌드를 시작합니다. ======"
  - cd FrontEnd
  - npm install
  - npm run build
  - echo "====== [Frontend] 빌드 결과물(dist)을 artifacts로 저장합니다. ======"
  artifacts:
    paths:
    - FrontEnd/dist/
    expire_in: 1 hour

deploy:
  stage: deploy
  tags:
  - ec2-runner
  dependencies:
  - build-frontend
  before_script:
  - echo "====== [Deploy] 배포 환경을 준비합니다. (패키지 설치 및 SSH 설정) ======"
  - apt-get update -y && apt-get install -y openssh-client curl rsync
  - mkdir -p ~/.ssh
  - echo "$EC2_SSH_KEY" | tr -d '\r' > ~/.ssh/id_rsa
  ...

feat : 배포 테스트
  .gitlab-ci.yml
  FrontEnd/src/App.vue
Due: build-frontend, deploy

feat : 배포 테스트
  .gitlab-ci.yml
Due: none

feat : 배포 테스트
  FrontEnd/src/App.vue
Due: build-frontend, deploy

fix : yml 파일 수정
  .gitlab-ci.yml
Due: none

yml 파일 분리
  .gitlab-ci-backend.yml
  .gitlab-ci-frontend.yml
  .gitlab-ci.yml
Due: none

yml 파일 분리
  .gitlab-ci.yml
Due: none

yml 파일 분리
  gitlab-ci-backend.yml
  gitlab-ci-frontend.yml
Due: none

프론트 배포 테스트
  FrontEnd/src/App.vue
Due: build-frontend, deploy

프론트 배포 테스트
  gitlab-ci-frontend.yml
Due: none

프론트 배포 테스트
  FrontEnd/src/App.vue
  gitlab-ci-frontend.yml
Due: build-frontend, deploy

프론트/백엔드 배포 테스트
  FrontEnd/src/App.vue
  NareuGO_Backend/src/main/java/org/example/nareugobackend/api/controller/user/UserController.java
Due: build-backend, build-frontend, deploy

프론트/백엔드 배포 테스트
  FrontEnd/src/App.vue
  NareuGO_Backend/src/main/java/org/example/nareugobackend/api/controller/user/UserController.java
  gitlab-ci-backend.yml
Due: build-backend, build-frontend, deploy

프론트/백엔드 배포 테스트
  gitlab-ci-backend.yml
Due: none

Edit gitlab-ci-backend.yml
  gitlab-ci-backend.yml
Due: none

full depoly test
  NareuGO_Backend/src/main/java/org/example/nareugobackend/NareuGoBackendApplication.java
Due: build-backend, deploy

final deploy test
  FrontEnd/src/App.vue
  NareuGO_Backend/src/main/java/org/example/nareugobackend/NareuGoBackendApplication.java
Due: build-backend, build-frontend, deploy

test: deploy
  FrontEnd/src/App.vue
  NareuGO_Backend/src/main/java/org/example/nareugobackend/NareuGoBackendApplication.java
Due: build-backend, build-frontend, deploy

test: changeport
  NareuGO_Backend/src/main/java/org/example/nareugobackend/NareuGoBackendApplication.java
Due: build-backend, deploy

fix: port
  NareuGO_Backend/src/main/java/org/example/nareugobackend/NareuGoBackendApplication.java
Due: build-backend, deploy

fix: apiPathfix
  NareuGO_Backend/src/main/java/org/example/nareugobackend/NareuGoBackendApplication.java
Due: build-backend, deploy

Path conditions:
  build-backend: any of: NareuGO_Backend/**/*
  build-frontend: any of: FrontEnd/**/*
  deploy: any of: NareuGO_Backend/**/*, FrontEnd/**/*
